/* Variables */
:root {
  --main-color: #689668;
  --accent-color: #856c8b;
  --border-color: #d86ea6;
  --text-color: #fff;
}

body {
  background-color: var(--main-color);
  font-family: 'Arial', sans-serif;
  text-align: center;
  margin: 0;
}

/* Headline */
img {
  max-width: 80px;
}

header {
  display: flex;
  justify-content:space-around;
  background-color: var(--accent-color);
  color: var(--text-color);
  font-size: 25px;
  padding: 5px;
  margin: 0px;
}

/*home page image*/
#homePage {
  background: url(assets/img/zak.jpg) center center no-repeat;
  background-size: cover;
  filter:grayscale(45%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-attachment: fixed; /*for image to stay fixed*/
}

/*home weather text color*/
#weather > h2 {
  color: var(--text-color);
}
#weather > p {
  color: var(--text-color);
}

/*this is button for Join*/
#homePage > a {
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--main-color);
    font-size: 2em;
    padding: 1.5rem;
    border-radius: 10px;
  }

.active {
  background-color: blue;
  border: none;
}

.active a {
  color:#d86ea6;
}

#join {
  cursor: pointer;
}

/* about page */
.aboutPage {
  background: url(assets/img/kids.jpg) center center no-repeat;
  background-size: cover;
  filter: grayscale(40%);
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  height: 90vh;
  background-attachment: fixed;
  color: var(--text-color);
  font-size: 1.5em;
  padding: 1em;
  margin: auto;
}

.aboutPage > h3 {
  color: var(--text-color);
  background-color: var(--border-color);
  text-align: left;
  margin: auto;
  padding: 1px 1px 1px 1px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5em;
  border-radius: 100%; /* Make the box a circle */
  display: flex;
}




footer {
  border-top: 1px solid var(--text-color);
  color: var(--text-color);
  padding: 2rem 2rem 2rem;
  margin: 1rem 1rem;
  text-align: center;
  position: relative;

}


/*parent page*/

.parentPage {
  color:var(--text-color);
  text-align: center;
}

label {
  display:contents;
  margin-bottom: 2px;
}


#parentSideBar {
  display: grid;
}

/*add child section*/
#child {
  grid-column-start: 2;
  grid-column-end: 5;
  min-width: 100%;
  text-align: left;
}

/*message page */
#messages {
  grid-column-start: 2;
  grid-column-end: 5;
  min-width: 250%;
  text-align: left;
}

/* sidebar */

.sideBar {
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: var(--accent-color);
  width: 10vw;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 10px;

}

.tabs {
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 10vw;
}

.sideBar button {
background-color: inherit;
  float: left;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.sideBar button:hover{
  background-color: var(--border-color);
}

.sideBar button.active{
  background-color: var(--accent-color);
}

.tabContent{
  display: none;
  padding: 6px 12px;

}


/*Form*/
#contactMe {
  color: var(--text-color);
}
#contactForm {
  text-align: left;
}
form {
  border: solid 1px var(--border-color);
  display: flex;
  flex-direction:column;
  margin: 1rem 1rem;
  color: var(--text-color);

}

form > * {
  margin: 0.5rem;
}

form > input[type="submit"] {
  width: 40%;
  margin: 0.5rem;
  margin-right: auto;
}

input,
textarea {
  width: 30%;
  padding:10px;
  margin-bottom: 5px;
  text-align: center;
}

button {
  background-color: #856c8d;
  color: var(--text-color);
  flex-direction: column;
  padding: 2px;
  border-radius: 0;
  cursor: pointer;
}



@media (max-width: 549px){
  .hidden--mobile {
    display: none !important;
  }

  nav {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  nav > i {
    padding: 1rem;
    font-size: 2em;
  }

  nav > ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 0;
  }

  nav > ul > li {
    padding: 0.5rem;
    list-style-type: none;
  }

}

@media (min-width: 550px) {
  nav > ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0 0;
  }

  nav > ul > li {
    display: inline-block;
    text-decoration: none;
    border: 1px solid;
    padding: 0.5rem 0.5rem;
    border-radius: 25px;
  }

  nav > .fa-bars {
    display: none;
  }

}
